<div class="container-fluid mb-3">
  <div class="row">
    <div class="col">
      <h1>Datos:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cont-table">
        <table
          class="table table-responsive table-striped table-bordered table-hover table-sm"
        >
          <thead class="thead-success">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ESTACIÓN</th>
              <th scope="col">MARCA</th>
              <th scope="col">COD.</th>
              <th scope="col">HUMEDAD</th>
              <th scope="col">TEMP.</th>
              <th scope="col">Pm1</th>
              <th scope="col">Pm10</th>
              <th scope="col">Pm25</th>
              <th scope="col">LAT</th>
              <th scope="col">LNG</th>
              <th scope="col">HORA</th>
              <th scope="col">FECHA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sensor of data.results; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ sensor.estacion.estacion_nombre }}</td>
              <td>{{ sensor.sensor_marca }}</td>
              <td>{{ sensor.sensor_codigo }}</td>
              <td>{{ sensor.hum_s | number: "1.2-2" }} %</td>
              <td>{{ sensor.tmp_s | number: "1.2-2" }} ºC</td>
              <td>{{ sensor.pm1 | number: "1.2-2" }}</td>
              <td>{{ sensor.pm10 | number: "1.2-2" }}</td>
              <td>{{ sensor.pm25 | number: "1.2-2" }}</td>
              <td>{{ sensor.estacion.latitud }}</td>
              <td>{{ sensor.estacion.longitud }}</td>
              <td>{{ sensor.medicion_fecha | date: "shortTime" }}</td>
              <td>{{ sensor.medicion_fecha | date: "longDate" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
