<div class="container-fluid P-0">
  <div class="row mb-3">
    <div class="col">
      <div class="form-group">
        <label for="marca">MARCA</label>
        <select class="custom-select w-100">
          <option selected>Marca</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="marca">SENSORES</label>
        <select class="custom-select w-100">
          <option selected>Sensor</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="marca">PROMEDIO</label>
        <select class="custom-select w-100">
          <option selected>Promedio</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="marca">FECHA INICIAL</label>
        <input
          type="date"
          name="marca"
          class="form-control"
          placeholder="Marca del sensor"
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="marca">FECHA FINAL</label>
        <input
          type="date"
          name="marca"
          class="form-control"
          placeholder="Marca del sensor"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-success w-100">Graficos</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success w-100">
        Descargar Excel <fa-icon class="mx-2"[icon]="faFileExcel"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
</div>
