<div class="w-100 h-100 d-flex flex-column justify-content-between">
  <div>
    <h1>Dashboard</h1>
    <hr />
    <a
      routerLink="/dashboard/home"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">INICIO</p>
      <fa-icon class="mx-4" [icon]="faHome"></fa-icon>
    </a>
    <a
      routerLink="/dashboard/rmcab"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">RMCAB</p>
      <fa-icon class="mx-4" [icon]="faLungs"></fa-icon>
    </a>
    <a
      routerLink="/dashboard/sbc"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">SENSORES BAJO COSTO</p>
      <fa-icon class="mx-4" [icon]="faSatellite"></fa-icon>
    </a>
    <a
      routerLink="/dashboard/geo"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">GEO SERVICIOS</p>
      <fa-icon class="mx-4" [icon]="faLocation"></fa-icon>
    </a>
    <a
      routerLink="/dashboard/noise"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">RED DE RUIDO</p>
      <fa-icon class="mx-4" [icon]="faBullhorn"></fa-icon>
    </a>
  </div>
  <div>
    <a
      routerLink="/login"
      routerLinkActive="active"
      class="d-flex align-items-center mb-3"
    >
      <p class="m-0">Cerrar Sesión</p>
      <fa-icon class="mx-4" [icon]="faRightFromBracket"></fa-icon>
    </a>
  </div>
</div>
